@import '../../../scss/index.scss';


.RegistrationHeader {
    display: flex;
    align-items: center
}

.HeaderText {
    @include textStyle(#4F4F4F, 1.25rem, normal);
    margin-left: 0.5rem;
}

.Error {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    padding: 0.5rem!important;
}

@media(max-width: 576px) {
    .FormWrap {
        @include mobileWrap()
    }
}

@media(min-width: 576px) {
    .FormWrap {
        @include wrap(25.125rem, 1.25rem 2.25rem);
    }
}

