@import '../../../scss/index.scss';

.FileChooserWrap {
    margin-top: 1.35rem;
    text-align: center;
}

.FileChooser__input {
    display: none;
}

.FileChooser__label {
    @include textStyle(#fff, 0.75rem, -0.02625rem);
    @include button(0.5rem 1rem);
    font-family: Noto Sans;
}