@import '../../../scss/index.scss';

.FileChooserWrap {
    margin-top: 1.35rem;
    text-align: center;
}

.FileChooser__input {
    display: none;
}

.FileChooser__label {
    border: none;
    font-family: Noto Sans;
    @include textStyle(#fff, 0.75rem, -0.02625rem);
}

@media (min-width: 576px) {
    .FileChooser__label {
        padding: 0.5rem 1rem;
    }
}

@media (max-width: 576px) {
    .FileChooser__label {
        font-size: 1.25rem;
        padding: 1rem 1.5rem;
        width: 87.5%;
        border-radius: 0.875rem;
    }
}