
.Form{
    width: 100%;
}

.FormLabel {
    margin-bottom: 0.25rem!important;
    font-size: 1rem;
}

.RegistrationButton {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem!important;
}

.ButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1.5rem;
}

.Already {
    font-size: 0.75rem;
    text-align: end;
    transition: 0.25s all ease;
    &:hover {
        color: #2F80ED;
        cursor: pointer;
        text-decoration: underline;
    }
}