@import '../../scss/index.scss';

.Wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include wrap(25.02244rem, 2.25rem 1.73rem 2.74rem 2rem);
}

.Header {
    @include textStyle(#4F4F4F, 1.125rem, -0.03938rem);
    margin-top: 0.75rem
}

.TryAgainButton {
    @include textStyle(#fff, 0.75rem, -0.02625rem);
    padding: 0.5rem 1rem; 
    border: none;
    margin-top: 0.75rem;
    text-decoration: none;
}
