@import '../../scss/index.scss';

.Wrap {
    @include wrap(25.02244rem, 2.25rem 1.95rem 2.08rem 2.95rem);
}

.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.HeaderText {
    @include textStyle(#4F4F4F, 1.125rem, -0.03938rem);
}

.Preview {
    width: 100%;
    height: 14.02481rem;
    border-radius: 0.75rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgrey;
    margin-top: 1.58rem;
}

.ImageUrlWrap {
    width: 100%;
    height: 2.125rem;
    border-radius: 0.5rem;
    border: 1px solid #E0E0E0;
    background-color: #F6F8FB;
    margin-top: 1.58rem;
    padding: 0 0.12rem 0 0.45rem;
    white-space: nowrap;
    display: flex;
    align-items: center
}

.Url {
    @include textStyle(#4F4F4F, 0.5rem, -0.0175rem);
    text-overflow: ellipsis;
    overflow: hidden;
    text-decoration: none;
}

.CopyLink {
    @include textStyle(#fff, 0.5rem, -0.0175rem);
    @include button(0.56rem 1.06rem 0.56rem 1.25rem);
    margin-left: 0.93rem;
}