@import '../../scss/index.scss';

.Header {
    text-align: center;
}

.HeaderText {
    @include textStyle(#4F4F4F, 1.125rem, -0.03938rem);
}

.HeaderSubText {
    @include textStyle(#828282, 0.625rem, -0.02188rem);
    margin-top: 1rem;
}

@media(min-width: 576px) {
    .Wrap {
        @include wrap(25.125rem, 2.25rem 2rem);
    }
}

@media(max-width: 576px) {
    .Wrap {
        @include mobileWrap();
    }

    .HeaderText {
        font-size: 1.625rem;
    }

    .HeaderSubText {
        font-size: 1.125rem;
        margin-top: 1rem;
    }
}
