@import '../../../scss/index.scss';

.CreatedBy {
    @include textStyle(#A9A9A9, 0.5rem, normal);
    margin-bottom: 0.75rem;
}

.Username {
    @include textStyle(#A9A9A9, 0.5, normal);
    font-weight: 700;
    text-decoration-line: underline;

    &:hover {
        color: #818181;
    }
}

